<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" 
            name="trace log"
            layout="${longdate} | ${level:uppercase=true} - ${logger}: ${message} ~ ${exception}"
            fileName="Event Logs/Trace Log.txt"
            archiveFileName="Event Logs/Archives/Trace Log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="day"
            archiveDateFormat="MMddyyyy" />
    
    <target xsi:type="File" 
            name="info log"
            layout="${longdate} | ${level:uppercase=true} - ${logger}: ${message} ~ ${exception}"
            fileName="Event Logs/Info Log.txt"
            archiveFileName="Event Logs/Archives/Info Log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="day"
            archiveDateFormat="MMddyyyy" />
    
    <target xsi:type="File"
            name="error log"
            layout="${longdate} | ${level:uppercase=true} - ${logger}: ${message} ~ ${exception}"
            fileName="Event Logs/Error Log.txt" 
            archiveFileName="Event Logs/Archives/Error Log.{#}.txt" 
            archiveNumbering="Date"
            archiveEvery="day" 
            archiveDateFormat="MMddyyyy" />
  </targets>

  <!--
  In case we ever forget the log level severity order.
  https://nlog-project.org/documentation/v5.0.0/html/T_NLog_LogLevel.htm
  -->
  <rules>
    <!--Writes everything trace level related to the trace log.-->
    <logger name="*" level="Trace" writeto="trace log" />
    
    <!--Writes everything between severity levels Debug and Warn inclusive to the info log. -->
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeto="info log" />
    
    <!--Writes everything severity level error and up to the error log.-->
    <logger name="*" minlevel="Error" writeto="error log" />
  </rules>
</nlog>
